@import "../../variables.scss";

.ThanksComposer {
    .recipient-input {
        height: 20px;
        width: 30%;
    }

    &-input {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        &-text {
            margin-top: 0.75rem;
            height: 10rem;
        }

        &-submit {
            align-self: flex-end;
            width: 25%;
            padding-top: 0.75rem;
        }
    }
}

.thanks-border {
    border-radius: 0.5rem;
    padding: 1rem;
    border: 2px solid $primary;
}
