$breakpoint-small: 540px;
$breakpoint-medium: 720px;
$breakpoint-large: 960px;
$breakpoint-extra-large: 1140px;

$primary:  #67AAF9;
$secondary:  #4FB286;
$tertiary:  #FFB100;
$light:  #D6F1FF;
$dark:  #19375E;
