$breakpoint-small: 540px;
$breakpoint-medium: 720px;
$breakpoint-large: 960px;
$breakpoint-extra-large: 1140px;

$primary:  #006C67;
$secondary:  #003844;
$tertiary:  #FFB100;
$light:  #8D99AE;
$dark:  #001114;