@import "../../variables.scss";

.ActivityFeed {
    height: 92.8%;
    text-decoration: none !important;

    h2 {
        margin-left: 2rem;
    }

    &-cards {
        border: 2px solid $dark;
        border-radius: 0.5rem;
        margin-right: 2rem;
        display: flex;
        text-decoration: none !important;
        height: 100%;
        overflow-y: scroll;
    }
}