@import "../../variables.scss";

.HeaderBar {
    display: flex;
    justify-content: flex-end;

    &-link {
        text-decoration: none;
        color: $dark;
        font-size: larger;
        padding: 0.75rem 0.75rem;
    }

    &-icon {
        padding: 0.75rem;

        svg {
            cursor: pointer;
            width: 32px;
            height: 32px;
        }
    }
}

