@import "../../variables.scss";

.Footer {
    height: 20%;
    color: white;
    background-color: $dark;
    border-top: 1px solid black;
    padding-bottom: 2rem;

    .icons {
        padding-top: 1rem;
        display: flex;
        width: 40%;
        justify-content: space-between;
        cursor: pointer;
    }

    .links {
        padding-top: 5em;
        vertical-align: middle
    }

    &-link {
        height: 20px;
        padding-right: 2em;
        color: white;
        text-decoration: none;
    }

    &-link:hover {
        color: white;
    }
}
