@import "../../variables.scss";

.Notifications {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-right: 3em;
    width: 30%;
    max-height: 340px;
    overflow-y: scroll;
    background-color: white;

    position: fixed;
    border: 2px solid $primary;
}