@import "../../variables.scss";

.ProfileModal {
    position: fixed;
    margin-top: 56px;
    margin-right: 15%;
    border: 2px solid $primary;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;

    &-edit, &-exit {
        text-decoration: none !important;
        cursor: pointer;
    }
}